<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615226397677-rn1sjm1d9qhp9lms62f9mrb585absuu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615226397677-rn1sjm1d9qhp9lms62f9mrb585absuu8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-3Mq02K8jgGI2sHCZFfs3Fz36QdOWIMk</string>
	<key>GCM_SENDER_ID</key>
	<string>615226397677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-recruitchaos</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-recruitchaos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615226397677:ios:60879ae865ea76ee884de4</string>
</dict>
</plist>